/* ==== GENERAL ==== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*, body{
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
}
.bg-dark{
    background-color: #7d6970 !important;
}
.text-light{
    color: #f7dbe5 !important;
}
@media (min-width: 768px){
    .text-md-right {
        text-align: right !important;
    }
}

.btn-primary {
    color: #fff;
    background-color: #ff6ea2;
    border-color: #ef1d68;
}
.btn-primary:hover {
    background-color: #ce4074;
    border-color: #ef1d68;
}
.btn-primary:focus {
    background-color: #ce4074;
    border-color: #ef1d68;
    box-shadow: 0 0 0 0.25rem rgb(251 208 223);
}
.btn-primary:active:focus {
    background-color: #ce4074;
    border-color: #ef1d68;
    box-shadow: 0 0 0 0.25rem rgb(251 208 223);
}
.py-10{
    padding-bottom: 7rem;
    padding-top: 7rem;
}
/* ==== FOOTER ==== */
.link-footer{
    color: #f7dbe5;
}
.link-footer:hover{
    color: #fbbdd1;
}